{{#view KG.Button id="bookmark-button" tagName="div" sc_action="toggleBookmarkPopupAction" class="header-button header-button-icon" classBinding="KG.bookmarksController.activePopup"}}
		<span class="button-image"><span>	
		{{#view id="super-bookmark-popup" isVisibleBinding="KG.bookmarksController.activePopup"}}
					{{#view id="bookmark-popup" isVisibleBinding="KG.bookmarksController.activePopup"}}						
						<div id="bookmark-top-bar">
							{{loc _bookmarkTitle id="bookmark-label" tagName="div"}}
							{{#view KG.Button id="bookmark-add-button" tagName="div" class="white-button unselectable" sc_action="addBookmarkAction"}}
								<div></div>
							{{/view}}
							{{#view KG.Button id="bookmark-delete-button" tagName="div" class="red-button unselectable" sc_action="deleteBookmarkAction" classBinding="KG.bookmarksController.editMode"}}
								{{loc _delete}}
							{{/view}}
							{{#view KG.EditBookmarkButtonView id="bookmark-edit-button" tagName="div" class="white-button unselectable" sc_action="editBookmarkAction"}}
								<div></div>
							{{/view}}											
						</div>
						<div id="bookmark-collection">
						{{#collection id="bookmark-list" contentBinding="KG.bookmarksController.content" itemViewClass="KG.BookmarkItemView" classBinding="KG.bookmarksController.editMode"}}	
								{{#view KG.Button class="bookmark-item-label" tagName="div" sc_action="selectBookmarkAction"}}
									{{itemView.content.label}}
								{{/view}}								
								{{#view KG.Button class="bookmark-item-author" tagName="span" sc_action="selectBookmarkAction"}}
									{{itemView.content.formattedDescription}}
								{{/view}}
								{{#view KG.BookmarkDeleteButtonView class="bookmark-delete check-delete-button unselectable" classBinding="isChecked" sc_action="checkBookmarkAction"}}
									<span>✓</span>
								{{/view}}
						{{/collection}}
						</div>
					{{/view}}
		{{/view}}
{{/view}}