<span class="inspector-attr-name">
	{{itemView.content.label}}
</span>	
<div class="inspector-attr-value">
	{{view templateName="select" contentBinding="itemView.content.enumValues" valueBinding="itemView.content.value" disabledBinding="KG.inspectorController.isReadOnly"}}
</div>