<div class="info-item-row">
	{{#view class="label-ellipsis"}}
		{{parentView.content.title}}
	{{/view}}			
	{{#view KG.Button manualMouseDown="yes" sc_action="selectFeatureInspectorAction" contentBinding="content" tagName="div" }}	
		<img src="css/images/right_arrow_32.png"/>		
	{{/view}}
</div>