<span class="inspector-attr-name">
	{{itemView.content.label}}
</span>	
<div class="inspector-attr-value">
	{{#view KG.NumericTextField valueBinding="itemView.content.value" type="range" minBinding="itemView.content.min" maxBinding="itemView.content.max" stepBinding="itemView.content.step" disabledBinding="KG.inspectorController.isReadOnly"}}
	{{/view}}
</div>