{{#view id="main-sandbox-view" class="main-panel" classBinding="KG.pageController.sandboxHidden KG.pageController.sandboxPushedLeft KG.pageController.sandboxPushedRight"}}
	{{view templateName="page-header"}}
	{{#view id="position-label" tagName="span"}}
		<span>{{KG.core_sandbox.latitudeLabel}}</span>
		<span>{{KG.core_sandbox.longitudeLabel}}</span>
	{{/view}}
	<div id="map">	
	</div>
{{/view}}