<span class="inspector-attr-name">
	{{itemView.content.label}}
</span>	
{{view templateName="switch" class="inspector-attr-value" contentBinding="itemView.content.value" disabledBinding="KG.inspectorController.isReadOnly"}}