{{#collection contentBinding="KG.infoController"  isVisibleBinding="KG.infoController.listVisible" class="popup-info-list"}}
	{{#view KG.FeatureInfoPopupItemView class="popup-info-item" ignoreIfFirst="true"}}
		<table class="popup-info-table more-features-zone">
			<tr>
				<td>
					{{#view class="label-ellipsis"}}
						{{itemView.content.title}}
					{{/view}}			
				</td>
				<td>
					{{#view KG.Button sc_action="selectFeatureInspectorAction" class="popup-info-select" tagName="div" classBinding="isActive"}}	
						<img src="resources/images/right_arrow_32.png"/>		
					{{/view}}
				</td>
			</tr>
		</table>
	{{/view}}		
{{/collection}}
<table class="popup-info-master-row-table">
	<tr>
		<td>
			{{#view KG.ExpandButtonView tagName="div" class="popup-info-expand" isVisibleBinding="KG.infoController.multipleFeatures" sclassBinding="isActive" expandedBinding="KG.infoController.listVisible"}}	
				<img {{bindAttr src="logo"}}/>		
			{{/view}}		
		</td>
		<td>
			{{#view KG.FeatureInfoPopupItemView class="popup-info-item" contentBinding="KG.infoController"}}
				<table class="popup-info-table">
				<tr>
					<td>
						{{#view class="label-ellipsis"}}
							{{parentView.content.firstFeature.title}}
							{{/view}}	
					</td>
					<td>
						{{#view KG.Button sc_action="selectFeatureInspectorAction" class="popup-info-select" contentBinding="KG.infoController.firstFeature" tagName="div" classBinding="isActive"}}	
							<img src="resources/images/right_arrow_32.png"/>		
						{{/view}}
					</td>
				</tr>
				</table>
			{{/view}}	
		</td>
	</tr>
</table>