

#main-home-view.home-hidden div{
	display:none;
}

#main-home-view.home-pushed-left{
	left:-120%;
}

#main-home-view.home-pushed-right{
	left:120%;
}

#super-home-panel{
	position:absolute;
	top:55px;
	bottom:0;
	left:50%;
	width:500px;
	margin-left:-250px;
	min-height:585px;
	overflow-x:hidden;
}

.page-title{
	margin-left: 10px;
	margin-bottom:10px;
	display: block;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

#sandbox-list-panel, #add-sandbox-panel{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	bottom:0;
	-webkit-transition: left 0.7s;
	-moz-transition: left 0.7s;
}

#sandbox-list-panel.pushed{
	left:-150%;
}

#sandbox-list-panel.hidden div,#add-sandbox-panel.hidden div{
	display:none;
}

#add-sandbox-panel.pushed{
	left:150%;
}

.sandbox-list{
	position:absolute;
	overflow-x:hidden;
	overflow-y:auto;
	top:80px;
	left:10px;
	right:10px;
	bottom:10px;
	border-radius: 6px;
	list-style: none;
	margin-left: 0px;
}

.sandbox-list > div{
	background-color: white;
	border:1px solid gray;
	border-bottom:none;
	color:black;
}

.sandbox-list-item{
	padding: 10px;
}

.sandbox-list > div:first-child, .sandbox-list > div:first-child .sandbox-list-item{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.sandbox-list > div:last-child, .sandbox-list > div:last-child .sandbox-list-item{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom:none;
}

.sandbox-name {
	display:inline-block;
	margin-left:20px;
	font-size: 18px;
}

.delete-button{
	overflow:hidden;
	display:inline-block;
	float: right;
	border-radius:14px;
	margin:0;
	padding: 2px 5px 13px 1px;
	height: 24px;
	min-width:24px;
	width:auto;
	border: solid 2px #DDD;
	background:none;
    color: #fff;
	opacity:0;
	-webkit-transition: opacity 0.7s, max-width 0.7s;
	-moz-transition: opacity 0.7s, max-width 0.7s;
}

.delete-button.is-owner{
	height: 24px;
	width: 24px;
}

.delete-button.is-owner span:last-child{
	display: none;
}

.delete-button span{
	display: inline-block;
	max-width:0px;
	opacity:0;
	-webkit-transition: opacity 0.7s, max-width 0.7s;
	-moz-transition: opacity 0.7s, max-width 0.7s;
}

.delete-button.is-checked span{
	opacity:1;
	max-width:200px;
}

.delete-button.is-checked{
		font: bold 26px/14px Verdana;
	    background-color: #c66572;
	    background-image:
	    -webkit-gradient(linear, left top, left bottom, 
	            from(#c66572), 
	            color-stop(0.25, #b63849), 
	            color-stop(0.5, #ac1a2e), 
	            color-stop(0.5, #a40018), 
	            color-stop(0.75, #a40018), 
	            to(#7d1022));
	    font-size: 14px;
	    font-weight: bold;
	    text-align: center;
	    border: solid 3px #fff;
		box-shadow: 0 1px 3px #666;
	    -webkit-box-shadow: 0 1px 3px #666;
}

.delete-button.is-checked span:last-child{
	font-size: 12px;
}

.delete-button.delete-mode{
	opacity:1;
}

.info-line{
	width:100%;
	font-size:10px;
	color:gray;
}

.sandbox-owner-label{
	display:inline-block;
	width:40%;
	text-align:left;
}

#home-header{
	position:relative;
	top:3px;
	width:500px;
	margin:0 auto;
}

#welcome-usr-label{	
	color:white;
	text-align: left;
	font-size: 14px;
}

#logout-button{
	float:right;
}

#create-sandbox-button{
	position:absolute;
	padding:3px;
	left:10px;
	top:30px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#delete-mode-button{
	position:absolute;
	padding:3px;
	right:10px;
	top:32px;
	box-shadow: none;
	-webkit-box-shadow: none;
	width:38px;
	height:38px;
}

#delete-mode-button.delete-mode{
	width:auto;
}

#delete-mode-button > div{
	width:100%;
	height:100%;
	background: url('../resources/images/delete_30.png');
}

#delete-mode-button span{
	display:none;
	padding:10px;
}

#delete-mode-button.delete-mode > div{
	display: none;
}

#delete-mode-button.delete-mode span{
	display:block;
}


#delete-sandbox-button{
	position:absolute;
	width:84px;
	left:50%;
	margin-left:-42px;
	top:32px;
	box-shadow: none;
	-webkit-box-shadow: none;
	opacity:0;
	-webkit-transition: opacity 0.7s;
	-moz-transition: opacity 0.7s;
	padding: 10px 10px 10px 10px;
}

#delete-sandbox-button.delete-mode{
	opacity:1;
}

#add-sandbox-panel .page-title{
	margin-left: 0;
}

/* Add sandbox panel */

#inner-add-sandbox-panel{
}

#add-sandbox-panel .white-button{
	margin-top:22px;
	padding:3px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#add-sandbox-panel .white-button:last-child{
	float:right;
}

#add-sandbox-panel input{
	width:300px;
	padding:6px;
	border-radius:4px;
}

#add-sandbox-map{
	position:relative;
	width:500px;
	height:400px;
}

#add-sandbox-panel .field-label{
	display:block;
	font-size: 14px;
	margin: 15px 0 5px 0;
	color: white;
}