body{
	background: url('../resources/images/back-bg.jpg') repeat;
	overflow-x: hidden;
}

#super-panel{
	position:absolute;
	top:60px;
	bottom:0;
	left:50%;
	width:500px;
	margin-left:-250px;
	overflow-x:hidden;
	overflow-y:hidden;
}

.page-title{
	margin-left: 10px;
	margin-bottom:10px;
	display: block;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

#sandbox-list-panel, #add-sandbox-panel{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	-webkit-transition: -webkit-transform 0.7s;
	-moz-transition: -moz-transform 0.7s;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translateX(0px);
}

#sandbox-list-panel.hidden{
	-webkit-transform: translate3d(-130%,0,0);
	-moz-transform: translateX(-130%);
}

#add-sandbox-panel.hidden{
	-webkit-transform: translate3d(130%,0,0);
	-moz-transform: translateX(130%);
}


.sandbox-list{
	position:absolute;
	overflow-y:auto;
	top:80px;
	left:10px;
	right:10px;
	bottom:10px;
	border-radius: 6px;
	list-style: none;
	margin-left: 0px;
}

.sandbox-list > div{
	background-color: white;
	border:1px solid gray;
	border-bottom:none;
	color:black;
}

.sandbox-list-item{
	padding: 10px;
}

.sandbox-list > div:first-child, .sandbox-list > div:first-child .sandbox-list-item{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.sandbox-list > div:last-child, .sandbox-list > div:last-child .sandbox-list-item{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom:none;
}

.sandbox-name {
	display:block;
	margin-left:20px;
	font-size: 18px;
}

.sandbox-owner-label{
	display:inline-block;
	margin-top:5px;
	font-size:10px;
	color:gray;
}

.sandbox-list-item > span:last-child{
	color:gray;
	font-size:10px;
	float: right;
}



#welcome-usr-label{
	color:white;
	margin-top:5px;
	width:100%;
	text-align: center;
	font-size: 14px;
}

#error-message{
	width: 100%;
	text-align:center;
	color:red;
	font-size: 16px;
	margin:10px;
}

#create-sandbox-button{
	position:absolute;
	padding:3px;
	left:10px;
	top:30px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#add-sandbox-panel{
	margin:0 25px 25px 25px;
}

#add-sandbox-panel .page-title{
	margin-left: 0;
}

/* Add sandbox panel */
#add-sandbox-panel .white-button{
	margin:25px
	padding:3px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#add-sandbox-panel .white-button:last-child{
	float:right;
}

#add-sandbox-panel input{
	width:100%;
	padding:6px;
	border-radius:4px;
}

/* MOBILE */

@media screen and (max-width: 480px) {
	
	#super-panel{
		left:0;
		width:auto;
		margin-left:0;
		right:0;
		bottom:10px;
	}
	
	.sandbox-list{
		-webkit-overflow-scrolling: touch;
	}
}

