body{
	background: url('../resources/images/back-bg.jpg') repeat;
	overflow-x: hidden;
}

#super-panel{
	position:absolute;
	top:40px;
	bottom:0;
	left:50%;
	width:500px;
	margin-left:-250px;
	overflow-x:hidden;
	overflow-y:hidden;
	min-height:320px;
}

.page-title{
	margin-left: 10px;
	margin-bottom:10px;
	display: block;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

#sandbox-list-panel, #add-sandbox-panel{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	-webkit-transition: -webkit-transform 0.7s;
	-moz-transition: -moz-transform 0.7s;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translateX(0px);
}

#sandbox-list-panel.hidden{
	-webkit-transform: translate3d(-130%,0,0);
	-moz-transform: translateX(-130%);
}

#add-sandbox-panel.hidden{
	-webkit-transform: translate3d(130%,0,0);
	-moz-transform: translateX(130%);
}


.sandbox-list{
	position:absolute;
	overflow-x:hidden;
	overflow-y:auto;
	top:80px;
	left:10px;
	right:10px;
	bottom:10px;
	border-radius: 6px;
	list-style: none;
	margin-left: 0px;
}

.sandbox-list > div{
	background-color: white;
	border:1px solid gray;
	border-bottom:none;
	color:black;
}

.sandbox-list-item{
	padding: 10px;
}

.sandbox-list > div:first-child, .sandbox-list > div:first-child .sandbox-list-item{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.sandbox-list > div:last-child, .sandbox-list > div:last-child .sandbox-list-item{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom:none;
}

.sandbox-name {
	display:inline-block;
	margin-left:20px;
	font-size: 18px;
}

.delete-button{
	overflow:hidden;
	display:inline-block;
	float: right;
	border-radius:14px;
	margin:0;
	padding: 2px 5px 13px 1px;
	height: 24px;
	min-width:24px;
	width:auto;
	border: solid 2px #DDD;
	background:none;
    color: #fff;
	opacity:0;
	-webkit-transition: opacity 0.7s, max-width 0.7s;
	-moz-transition: opacity 0.7s, max-width 0.7s;
}

.delete-button.is-owner{
	height: 24px;
	width: 24px;
}

.delete-button.is-owner span:last-child{
	display: none;
}

.delete-button span{
	display: inline-block;
	max-width:0px;
	opacity:0;
	-webkit-transition: opacity 0.7s, max-width 0.7s;
	-moz-transition: opacity 0.7s, max-width 0.7s;
}

.delete-button.is-checked span{
	opacity:1;
	max-width:200px;
}

.delete-button.is-checked{
		font: bold 26px/14px Verdana;
	    background-color: #c66572;
	    background-image:
	    -webkit-gradient(linear, left top, left bottom, 
	            from(#c66572), 
	            color-stop(0.25, #b63849), 
	            color-stop(0.5, #ac1a2e), 
	            color-stop(0.5, #a40018), 
	            color-stop(0.75, #a40018), 
	            to(#7d1022));
	    font-size: 14px;
	    font-weight: bold;
	    text-align: center;
	    border: solid 3px #fff;
		box-shadow: 0 1px 3px #666;
	    -webkit-box-shadow: 0 1px 3px #666;
}

.delete-button.is-checked span:last-child{
	font-size: 12px;
}

.delete-button.delete-mode{
	opacity:1;
}

.info-line{
	width:100%;
	font-size:10px;
	color:gray;
}

.sandbox-owner-label{
	display:inline-block;
	width:40%;
	text-align:left;
}

#welcome-usr-label{
	color:white;
	margin-top:5px;
	width:100%;
	text-align: center;
	font-size: 14px;
}

#error-message{
	width: 100%;
	text-align:center;
	color:red;
	font-size: 16px;
	margin:3px;
}

#create-sandbox-button{
	position:absolute;
	padding:3px;
	left:10px;
	top:30px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#delete-mode-button{
	position:absolute;
	padding:3px;
	right:10px;
	top:30px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#delete-sandbox-button{
	position:absolute;
	width:84px;
	left:50%;
	margin-left:-42px;
	top:32px;
	box-shadow: none;
	-webkit-box-shadow: none;
	opacity:0;
	-webkit-transition: opacity 0.7s;
	-moz-transition: opacity 0.7s;
	padding: 10px 10px 10px 10px;
}

#delete-sandbox-button.delete-mode{
	opacity:1;
}

#add-sandbox-panel{
	margin:0 40px 0px 40px;
}

#add-sandbox-panel .page-title{
	margin-left: 0;
}

/* Add sandbox panel */
#add-sandbox-panel .white-button{
	margin-top:22px;
	padding:3px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#add-sandbox-panel .white-button:last-child{
	float:right;
}

#add-sandbox-panel input{
	width:100%;
	padding:6px;
	border-radius:4px;
}

#map{
	width:100%;
	height:50%;
}

#add-sandbox-panel .field-label{
	display:block;
	font-size: 14px;
	margin: 15px 0 5px 0;
	color: white;
}


/* MOBILE */

@media screen and (max-width: 480px) {
	
	#super-panel{
		left:0;
		width:auto;
		margin-left:0;
		right:0;
		bottom:10px;
	}
	
	.sandbox-list{
		-webkit-overflow-scrolling: touch;
	}
	
	#map{
		height:130px
	}
}

