
#inspector-panel{
	box-shadow: 2px 2px 8px #666;
	-webkit-box-shadow: 2px 2px 8px #666;
	border-bottom-right-radius: 12px;	
}

#inspector-panel, #inspector-title{
	width:400px;
}

#inspector-panel{
	top:0;
	left:-500px;
	z-index:10;
	position:absolute;
	top:0px;
	max-height:100%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #CBD2D8;
	background-image: -webkit-gradient(linear, left top, right top, from(#c5ccd4), color-stop(0.75, #c5ccd4), color-stop(0.75, transparent), to(transparent));
	background-image: -moz-linear-gradient(left, #c5ccd4, #c5ccd4 75%, transparent 75%, transparent);
	-webkit-background-size: 5px 100%;
	background-size: 5px 100%;
	border-bottom-right-radius: 12px;
	transition:left 0.5s;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition:left 0.5s;
}

#inspector-title{
	top:-50px;	
	z-index: 11;
	position: fixed;
	height: 35px;
	background-image: -moz-linear-gradient(top, #b0bccd, #889bb3 50%, #8195af 50%, #6d84a2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), color-stop(0.5, #889bb3), color-stop(0.5, #8195af), to(#6d84a2));
	border-top: 1px solid #CDD5DF;
	border-bottom: 1px solid #2D3642;
	transition:top 0.5s;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition:top 0.5s;
}

.inspector-cancel{	
	position: absolute;
	left:5px;
	top:6px;
}

.inspector-save{	
	position: absolute;
	right:5px;
	top:6px;
}

#super-inspector.active #inspector-panel{
	left:0;
}

#super-inspector.active #inspector-title{
	top:0px;
}
/* Use transform3d if available (its smooter)*/
@media screen and (-webkit-transform-3d) {
	#super-inspector.active #inspector-panel{
		-webkit-transform: translate3d(500px,0,0);
		left:-500px;
	}
	#super-inspector.active #inspector-title{
		-webkit-transform: translate3d(0,50px,0);
		top:-50px;
	}
}

.inspector-close-button{
	margin-top:-2px;
	margin-right:-10px;
}

#inspector-title h1{
	position: absolute;
	top:7px;
	left:95px;
	right:95px;
	font: bold 14px "Lucida Grande", Helvetica, Arial, Sans-serif;
	letter-spacing: -1px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
	color: white;
	margin: 0px;
	text-align: center;
}

.inspector-attrs-list{
	margin-top:35px;
}

.inspector-attrs-list > div{
	display: inline-block;
	vertical-align: bottom;
}

.inspector-list-item{
	color: black;
}

.inspector-list-item > div{
	margin:15px 0px 0 10px;
}

.inspector-list-item.one-column{
	width:192px;
}

.inspector-list-item.two-columns{
	width:384px;
}

.inspector-list-item.small-left-offset > div{
	padding-left:20px;
}

.inspector-list-item.large-left-offset > div{
	padding-left:50px;
}

.inspector-attr-name{
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}

.inspector-attr-value{
	font-size: 16px;
	text-align: left;
}


.inspector-attr-value input, .inspector-attr-value select{
	width:100%;
}

.inspector-attr-value select{
	margin-top:3px;
}

.inspector-attr-value img{
	max-width:100%;
}

/**  Mobile CSS Override **/

@media screen and (max-width: 480px) {
	#inspector-panel{
		border-bottom-right-radius: 0;
	}
}


@media screen and (max-width: 320px) {
	#inspector-panel, #inspector-title{
		width:320px;
	}
	
	.inspector-list-item.one-column{
		width:155px;
	}

	.inspector-list-item.two-columns{
		width:310px;
	}
}

@media screen and (min-width: 321px) and (max-width: 480px) {
	#inspector-panel, #inspector-title{
		width:480px;
	}
	
	.inspector-list-item.one-column{
		width:235px;
	}

	.inspector-list-item.two-columns{
		width:470px;
	}
}


/*** Feature Comments specific ****/

.super-feature-comments{
	padding:10px;
	margin:20px 20px 0 20px;
}
#feature-comments-container{
	margin-top:5px;
	visibility:hidden;
	opacity:0;
	transition:visibility 0s linear,opacity 0.5s linear;
	-webkit-transition:visibility 0s linear,opacity 0.5s linear;
	-moz-transition:visibility 0s linear,opacity 0.5s linear;
}

#feature-comments-container.showing{
	visibility:visible;
	opacity:1;
}

