#bookmark-button{
	width:24px;
	height:28px;
	left:80px;
}

/* Button when the popup is visible*/
#bookmark-button.active-popup{
	background: rgba(255,255,255,0.9);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#bookmark-button .button-image{
	width:24px;
	height:24px;
	display:block;
	background: url('images/bookmark.png') no-repeat center;
}

#bookmark-button.active-popup .button-image{
	background: url('images/bookmark_black.png') no-repeat center;
}

#super-bookmark-popup{
	z-index:20;
	position:absolute;
	top:28px;
	left:0;
	width:6.5cm;
	box-shadow:3px 6px 6px #666;
	-webkit-box-shadow: 3px 6px 6px #666;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background: rgba(255,255,255,0.9);
}

#bookmark-popup{
	padding:8px;
}

#bookmark-top-bar{
	width:100%;
	padding-bottom:15px;
	position:relative;
}

#bookmark-label{
	color:#666;
	text-align:center;
	text-shadow: none;
	font-size:16px;
	padding-bottom:0.2cm;
}

#bookmark-add-button{
	position:absolute;
	left:3px;
	top:20px;	
	padding:0;
}

#bookmark-add-button > div{
	width:30px;
	height:30px;
	background: url('images/add_30.png') no-repeat;
}

#bookmark-edit-button{
	position:absolute;
	right:3px;
	top:20px;
	padding:0;
}

#bookmark-edit-button > div{
	width:30px;
	height:30px;
	background: url('images/delete_30.png') no-repeat;
}


#bookmark-delete-button{
	position:absolute;
	width:84px;
	left:50%;
	margin-left:-42px;
	top:20px;
	box-shadow: none;
	-webkit-box-shadow: none;
	opacity:0;
	-webkit-transition: opacity 0.7s;
	-moz-transition: opacity 0.7s;
	padding: 7px;
	cursor: default;
}

#bookmark-delete-button.edit-mode{
	opacity:1;
	cursor: pointer;
}

#bookmark-list{
	margin-top:20px;
	width:100%;
	overflow-y:auto;
	max-height:400px;
	border-collapse:collapse;
	text-shadow: none;
	text-align: left;
	font-weight: normal;
}

#bookmark-list tr{
	padding-bottom:2px;
}

#bookmark-list tr:hover{
	background: rgba(0,0,255,0.5);
	color: white;
}

#bookmark-list .bookmark-delete{
	position:absolute;
	right:3px;
	top:9px;
}

.bookmark-item{
	color:#333;
	padding:5px 10px 5px 10px;
	vertical-align:middle;
	position: relative;
	border-top:1px solid #E6E6E6;
}

.bookmark-item:hover{
	border-radius: 6px;
}

.bookmark-item-label{
	font-size: 14px;
}

#bookmark-list .bookmark-item:first-child{
		border-top:1px solid transparent;
}

/*  Add Bookmark panel */

#add-bookmark-panel{
	z-index:21;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-1cm;
	margin-left:-3cm;
	border-radius:10px;
	background: rgba(255,255,255,0.9);
	width:6cm;
	padding:0.3cm;
	box-shadow: 2px 2px 3px #999; 
	-webkit-box-shadow: 2px 2px 3px #999;
}

#add-bookmark-panel input{
	width: 100%;
}

.bookmark-close-button{
	float:right;
	margin-right: -30px;
	margin-top: -26px;
}

#add-bookmark-panel .add-bookmark-button{
	margin-top:6px;
	float: right;
}