/* ===========================================================================
   BPM Combined Asset File
   MANIFEST: kloudgis ()
   This file is generated automatically by the bpm (http://www.bpmjs.org)
   =========================================================================*/

#bookmark-button{
	width:24px;
	height:28px;
	left:80px;
}

/* Button when the popup is visible*/
#bookmark-button.active-popup{
	background: rgba(255,255,255,0.9);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#bookmark-button .button-image{
	width:24px;
	height:24px;
	display:block;
	background: url('../resources/images/bookmark.png') no-repeat center;
}

#bookmark-button.active-popup .button-image{
	background: url('../resources/images/bookmark_black.png') no-repeat center;
}

#super-bookmark-popup{
	overflow-y:auto;
	max-height:400px;
	z-index:20;
	position:absolute;
	top:28px;
	left:0;
	width:6.5cm;
	box-shadow:3px 6px 6px #666;
	-webkit-box-shadow: 3px 6px 6px #666;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background: rgba(255,255,255,0.9);
}

#bookmark-popup{
	padding:8px;
}

#bookmark-top-bar{
	width:100%;
	padding-bottom:15px;
}

#bookmark-label{
	color:#666;
	text-align:center;
	text-shadow: none;
	font-size:13px;
	padding-bottom:0.2cm;
}

#bookmark-add-button{
	margin-left: 0.5cm;
}

#bookmark-edit-button{
	margin-left: 1cm;
}

#bookmark-list{
	width:100%;
	border-collapse:collapse;
	text-shadow: none;
	text-align: left;
	font-weight: normal;
}

#bookmark-list tr{
	padding-bottom:2px;
}

#bookmark-list tr:hover{
	background: rgba(0,0,255,0.5);
	color: white;
}

#bookmark-list td{
	padding-top:5px;
	padding-bottom:5px;
	padding-right:3px;
	vertical-align:middle;
	border:1px solid #E6E6E6;
}

#bookmark-list  tr td:nth-child(1){
	font-size:14px;
	text-align:center;
	border-right:none;
	min-width: 80px;
	cursor: pointer;
}

#bookmark-list tr td:nth-child(2){
	font-size:11px;
	border-right:none;
	border-left:none;
	cursor: pointer;
}

#bookmark-list tr td:nth-child(3){
	font-style: italic;
	font-size:11px;
	border-left:none;
}

#bookmark-list.edit-mode tr td:nth-child(3){
	border-right:none;
}

#bookmark-list tr td:nth-child(4){
	border-left:none;
}


/*  Add Bookmark panel */

#add-bookmark-panel{
	z-index:21;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-1cm;
	margin-left:-3cm;
	border-radius:10px;
	background: rgba(255,255,255,0.9);
	width:6cm;
	padding:0.3cm;
	box-shadow: 2px 2px 3px #999; 
	-webkit-box-shadow: 2px 2px 3px #999;
}

#add-bookmark-panel input{
	width: 100%;
}

.bookmark-close-button{
	float:right;
	margin-right: -30px;
	margin-top: -26px;
}

#add-bookmark-panel .add-bookmark-button{
	margin-top:6px;
	float: right;
}
.comment-list{
	background: rgb(237,239,244);
	border-radius: 6px;
}

.comment-list > div:hover{
	background: rgb(207,209,214);
}

.comment-list > div:first-child:hover{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.comment-list > div:last-child:hover{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.comment-list  > div{
	padding-top:3px;
	border-bottom: solid 1px white;
	overflow:hidden;
}

.comment-list > div:last-child{
	border-bottom: none;
}
/* to let the delete button show when the text has very long words*/
.comment-list td{
	max-width:100px;
}

.comment-author{
	font-size:12px;
	margin-right:5px;
	font-weight: bold;
	display:inline;
}

.comment-content{
	display:inline;
	font-size:12px;
}

.comment-date{
	font-size:10px;
	color:gray;
	font-weight: 400;
}

.comment-delete{
	font-size: 12px;
}

.new-comment-area{
	display: block;
	width:100%;
	margin-top:3px;
	padding-top:3px;
}
 
.comment-loading{
	margin-top:3px;
	width: 100%;
	text-align: center;
}
/*FEATURE INFO*/


.leaflet-popup.info-popup .leaflet-popup-close-button{
	display: none;
}

.leaflet-popup.info-popup .leaflet-popup-content-wrapper{
	background: rgba(0,0,0,0.6);
	box-shadow: none;
}
.leaflet-popup.info-popup .leaflet-popup-tip{
	background: rgba(0,0,0,0.6);
	padding: 0px;
}

.leaflet-popup.info-popup .leaflet-popup-content-wrapper .leaflet-popup-content{
	margin: 0px;
}

.popup-info-table{
	width:100%;
	border: none;
	border-spacing: 0px;
}

.popup-info-table td{
	vertical-align: middle;
	width: 100%;
	max-width:250px;
	color: white;
	white-space: nowrap;
	padding: 0px;
	margin: 0px;
	text-align: right;
}

.popup-info-table td span{
	
}

.more-features-zone{
	margin-top:0px;
}

.popup-info-master-row-table{
	width: 100%;
	border: none;
	border-spacing: 0px;
	margin: 5px 0px;
}

.popup-info-master-row-table td{
	width: 100%;
	vertical-align: middle;
}

.popup-info-item{
	min-width: 80px;
	border-radius: 16px;
	border: 1px solid rgba(0,0,0,0.5);
	cursor: pointer;
	margin: 2px 5px;	
}

.popup-info-item span{	
	margin:0px 5px 0px 10px;
	text-align: right;
}

.popup-info-item:hover{
	background: rgba(0,0,0,0.5);
}

.popup-info-select{
	padding:0px;
	border: none;
	background: none;
	width:32px;
	text-align: right;
}


#inspector-panel{
	box-shadow: 2px 2px 8px #666;
	-webkit-box-shadow: 2px 2px 8px #666;
	border-bottom-right-radius: 12px;	
}

#inspector-panel, #inspector-title{
	width:400px;
}

#inspector-panel{
	top:0;
	left:-500px;
	z-index:10;
	position:absolute;
	top:0px;
	max-height:100%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #CBD2D8;
	background-image: -webkit-gradient(linear, left top, right top, from(#c5ccd4), color-stop(0.75, #c5ccd4), color-stop(0.75, transparent), to(transparent));
	background-image: -moz-linear-gradient(left, #c5ccd4, #c5ccd4 75%, transparent 75%, transparent);
	-webkit-background-size: 5px 100%;
	background-size: 5px 100%;
	border-bottom-right-radius: 12px;
	transition:left 0.7s;
	-webkit-transition: -webkit-transform 0.7s;
	-moz-transition:left 0.7s;
}

#inspector-title{
	top:-50px;	
	z-index: 11;
	position: fixed;
	height: 35px;
	background-image: -moz-linear-gradient(top, #b0bccd, #889bb3 50%, #8195af 50%, #6d84a2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), color-stop(0.5, #889bb3), color-stop(0.5, #8195af), to(#6d84a2));
	border-top: 1px solid #CDD5DF;
	border-bottom: 1px solid #2D3642;
	transition:top 0.7s;
	-webkit-transition: -webkit-transform 0.7s;
	-moz-transition:top 0.7s;
}

#super-inspector.active #inspector-panel{
	left:0;
}

#super-inspector.active #inspector-title{
	top:0px;
}
/* Use transform3d if available (its smooter)*/
@media screen and (-webkit-transform-3d) {
	#super-inspector.active #inspector-panel{
		-webkit-transform: translate3d(500px,0,0);
		left:-500px;
	}
	#super-inspector.active #inspector-title{
		-webkit-transform: translate3d(0,50px,0);
		top:-50px;
	}
}

.inspector-close-button{
	margin-top:-2px;
	margin-right:-10px;
}

#inspector-title h1{
	position: absolute;
	top:7px;
	left:95px;
	right:95px;
	font: bold 14px "Lucida Grande", Helvetica, Arial, Sans-serif;
	letter-spacing: -1px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
	color: white;
	margin: 0px;
	text-align: center;
}

.inspector-attrs-list{
	margin-top:35px;
}

.inspector-attrs-list > div{
	display: inline-block;
	vertical-align: bottom;
}

.inspector-list-item{
	color: black;
}

.inspector-list-item > div{
	margin:15px 0px 0 10px;
}

.inspector-list-item.one-column{
	width:192px;
}

.inspector-list-item.two-columns{
	width:384px;
}

.inspector-list-item.small-left-offset > div{
	padding-left:20px;
}

.inspector-list-item.large-left-offset > div{
	padding-left:50px;
}

.inspector-attr-name{
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}

.inspector-attr-value{
	font-size: 16px;
	text-align: left;
}


.inspector-attr-value input, .inspector-attr-value select{
	width:100%;
}

.inspector-attr-value select{
	margin-top:3px;
}

.inspector-attr-value img{
	max-width:100%;
}

/**  Mobile CSS Override **/

@media screen and (max-width: 480px) {
	#inspector-panel{
		border-bottom-right-radius: 0;
	}
}


@media screen and (max-width: 320px) {
	#inspector-panel, #inspector-title{
		width:320px;
	}
	
	.inspector-list-item.one-column{
		width:155px;
	}

	.inspector-list-item.two-columns{
		width:310px;
	}
}

@media screen and (min-width: 321px) and (max-width: 480px) {
	#inspector-panel, #inspector-title{
		width:480px;
	}
	
	.inspector-list-item.one-column{
		width:235px;
	}

	.inspector-list-item.two-columns{
		width:470px;
	}
}


/*** Feature Comments specific ****/

.super-feature-comments{
	padding:10px;
	margin:20px 20px 0 20px;
}
#feature-comments-container{
	margin-top:5px;
	visibility:hidden;
	opacity:0;
	transition:visibility 0s linear,opacity 0.5s linear;
	-webkit-transition:visibility 0s linear,opacity 0.5s linear;
	-moz-transition:visibility 0s linear,opacity 0.5s linear;
}

#feature-comments-container.showing{
	visibility:visible;
	opacity:1;
}

.delete-feature{
	margin: 10px 30px 20px 30px;
}

/*NOTES*/
/* multiple notes list */


.multiple-notes-title{
	text-align: center;
	font-size:14px;
	font-weight: bold;
	white-space: nowrap;
}

.multiple-notes-table{
	width: 4cm;
    padding:0px;
	border: none;
	border-spacing: 0px;
}

.multiple-notes-item{
	padding: 0.5em;
}

.multiple-notes-item:hover{
	background: rgba(0,0,255,0.5);
	color: white;
}

.multiple-notes-item:hover table{
	color: white;
}

.multiple-notes-item:hover table .note-author-label{
	color: white;
}

.multiple-notes-table td{
	vertical-align:bottom;	
}

.multiple-notes-item-title{
	font-size:12px;
}

/* note active */
.note-author-label{
	margin-top:3px;
	font-size:10px;
	display: block;	
	text-align: right;
	white-space: nowrap;
	color: gray;
}

.active-note-popup .note-date-label{
	font-size:10px;
	font-style: italic;
	float: right;
	color:gray;	
}

.note-zoom-button{
	text-align: center;
}

.active-note-popup > span{
	display: block;
	font-weight: bold;
}

.active-note-popup input{
	width: 100%;
}

#note-description-area{	
	height: 48px;
	display: block;
	width:100%;
}


.active-note-popup-bottom{
	width: 220px;
	text-align: center;
	margin-top:5px;
	margin-bottom:5px;
}

.active-note-popup .red-button{
	margin-left:10px;
}

/*** Note Comments specific ****/
#note-comments-container{
	padding-top: 5px;
	margin-bottom:5px;
	overflow-y: auto;
	opacity:0;
	transition:opacity 0.5s linear, max-height 0.5s linear;
	-webkit-transition:opacity 0.5s linear, max-height 0.5s linear;
	-moz-transition:opacity 0.5s linear, max-height 0.5s linear;
}

#note-comments-container.showing{
	max-height:3cm;
	opacity:1;
}



/* Notifications */
#notification-button{
	width:24px;
	height:28px;
	right:270px;
}

/* Count capsule */
#notification-button > .capsule-label{
	position: absolute;
	top:-2px;
	right:-4px;
}

/* Button when the popup is visible*/
#notification-button.active-popup{
	background: rgba(255,255,255,0.9);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#notification-button .button-image{
	width:24px;
	height:24px;
	display:block;
	background: url('../resources/images/notification.png') no-repeat center;
}

#notification-button.active-popup .button-image{
	background: url('../resources/images/notification_black.png') no-repeat center;
}

#super-notification-popup{
	overflow-y:auto;
	max-height:400px;
	z-index:20;
	position: absolute;
	left:0;
	top:28px;
	width:6.5cm;
	background: rgba(255,255,255,0.9);
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#notification-popup{
	padding:8px;
}

#notification-label{
	color:#666;
	width:100%;
	text-shadow: none;
	text-align:center;
	font-size:13px;
	padding-bottom:30px;
}

#notification-clear-button{
	position: absolute;
	right:8px;
	top:28px;
}

#notification-send-button{
	position: absolute;
	top:28px;
	left:20px;
	right:20px;
	text-align: center;
}


#notification-send-button.has-notification{
	left:8px;
	right:auto;
}

.notification-item{
	border-top:1px solid #E6E6E6;
	margin-top:5px;
	padding-top:5px;
	text-shadow: none;
	text-align: left;
	font-weight: normal;
}

#notification-collection div:first-child .notification-item{
	border-top:none;
}

.notification-item-title{
	font-size:10px;
	color: black;
}

.notification-item-title a:first-child{
	font-size:11px;
	color: #4183C4;
}


.notification-item-title span:last-child{
	font-size:11px;
}

.notification-item-message{
	margin-top:3px;
	font-size:12px;
	color: #555555;
}


/*  Send notificaton panel */

#send-notification-panel{
	z-index:21;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-1cm;
	margin-left:-3cm;
	border-radius:10px;
	background: rgba(255,255,255,0.9);
	width:6cm;
	padding:0.3cm;
	box-shadow: 2px 2px 3px #999; 
	-webkit-box-shadow: 2px 2px 3px #999;
}

.notification-close-button{
	float:right;
	margin-right: -30px;
	margin-top: -30px;
}

#send-notification-panel textarea{
	width: 100%;
	resize:none;
	margin:5px 0 5px 0;
}

#send-notification-panel .send-notification-button{
	margin-top:3px;
	float: right;
}

#send-notification-panel .ember-checkbox{
	display: inline-block;
}

#send-notification-panel span{
	display: block;
}

#send-notification-panel .loading-image{
	width:100%;
	text-align:center;
}
#palette-panel{
	box-shadow: 2px 2px 8px #666;
	-webkit-box-shadow: 2px 2px 8px #666;
	border-bottom-right-radius: 12px;	
}

#palette-panel, #palette-title{
	width:400px;
}

#palette-panel{
	top:0;
	left:-500px;
	z-index:10;
	position:absolute;
	top:0px;
	max-height:100%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: white;
	border-bottom-right-radius: 12px;
	transition:left 0.7s;
	-webkit-transition: -webkit-transform 0.7s;
	-moz-transition:left 0.7s;
}

#palette-title{
	top:-50px;	
	z-index: 11;
	position: fixed;
	height: 35px;
	background-image: -moz-linear-gradient(top, #b0bccd, #889bb3 50%, #8195af 50%, #6d84a2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), color-stop(0.5, #889bb3), color-stop(0.5, #8195af), to(#6d84a2));
	border-top: 1px solid #CDD5DF;
	border-bottom: 1px solid #2D3642;
	transition:top 0.7s;
	-webkit-transition: -webkit-transform 0.7s;
	-moz-transition:top 0.7s;
}

#super-palette.active #palette-panel{
	left:0;
}

#super-palette.active #palette-title{
	top:0px;
}

/* Use transform3d if available (its smooter)*/
@media screen and (-webkit-transform-3d) {
	#super-palette.active #palette-panel{
		-webkit-transform: translate3d(500px,0,0);
		left:-500px;
	}
	#super-palette.active #palette-title{
		-webkit-transform: translate3d(0,50px,0);
		top:-50px;
	}
}


#palette-title h1{
	position: absolute;
	top:7px;
	left:95px;
	right:95px;
	font: bold 14px "Lucida Grande", Helvetica, Arial, Sans-serif;
	letter-spacing: -1px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
	color: white;
	margin: 0px;
	text-align: center;
}

#palette-panel .palette-list{
	margin:45px 10px 10px 10px;
}



.palette-list > div{
	position:relative;
	left:5%;
	width:90%;
	margin-top:10px;
}

/**  Mobile CSS Override **/

@media screen and (max-width: 480px) {
	#palette-panel{
		border-bottom-right-radius: 0;
	}
}


@media screen and (max-width: 320px) {
	#palette-panel, #palette-title{
		width:320px;
	}
	
	.inspector-list-item.one-column{
		width:155px;
	}

	.inspector-list-item.two-columns{
		width:310px;
	}
	
}

@media screen and (min-width: 321px) and (max-width: 480px) {
	#palette-panel, #palette-title{
		width:480px;
	}
	
}
#map {
	position:absolute;
	left:0;
	right:0;
	top:45px;
	bottom:0;
	border: none;
}

#sandbox-header{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:44px;
	background-color: #787878;
	background-image: -webkit-linear-gradient(top, rgb(120, 120, 120), rgb(45, 45, 45));
	background-image: -moz-linear-gradient(top, rgb(120, 120, 120), rgb(45, 45, 45));
	border-bottom:solid 1px rgb(122,122,122);
}

.header-button{
	position:absolute;
	height:28px;
	top:6px;
	font-size: 12px;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.797) 0px -1px 0px;
	text-align:center;
	border: 1px solid rgb(34,34,34);
	border-radius:6px;
	font-weight: bold;
}

.header-button.is-active{
	background: rgb(45, 45, 45);
}

.header-button > .message-label{
	padding: 6px;
}

.header-button > div span{
	display:inline-block;
}

.header-button-icon{
	padding: 0 6px 0 6px;
}

/* Button on the headers */

#active-sandbox-button{
	width:120px;
	left:50%;
	margin-left:-60px;
}

#active-user-button{
	width:80px;
	right:3px;
}

#palette-button{
	right:130px;
}

#create-note-button{
	right:200px;
}

#super-active-user-popup{
	position:absolute;
	z-index:20;
	right:0;
	top:29px;
	width:100px;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#active-user-popup{
	margin:5px;
}

#active-user-popup button{
	width:100%;
}

#position-label{
	z-index:21;
	padding: 0 5px;
	position:absolute;
	bottom:16px;
	right:0px;
	font: 10px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	background-color: rgba(255, 255, 255, 0.7);
}

/* map anim */
.animated-marker{
	top:-1000px;
	transition:top 0.9s ease-out;
	-webkit-transition:top 0.9s ease-out;
	-moz-transition:top 0.9s ease-out;
}

.animated-marker.animated-marker-ready{
	top:0px;
}

#search-button{
	width:24px;
	height:28px;
	left:3px;
}

#search-button .button-image{
	width:24px;
	height:24px;
	display:block;
	background: url('../resources/images/search.png') no-repeat center;
}


#super-search-popup{
	overflow:visible;
	z-index:10;
	position: absolute;
	width:6cm;
	margin-left:-3cm;
	padding:8px;
	top:-100%;
	left:50%;
	transition:top 0.4s ease-in;
	-webkit-transition:top 0.4s ease-in;
	-moz-transition:top 0.4s ease-in;
	background:rgba(255,255,255,0.9);
	border-radius:6px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#search-popup{
	max-height:500px;
	overflow-y:auto;
}

#super-search-popup.active-popup{
	top:30%;
}

.search-close-button{
	position:absolute;
	right:-15px;
	top:-15px;
}

#super-search-popup input{
	width:100%;
}

.search-plugin-item{
	margin-top: 3px;
	color: white;
	padding:0.1cm;
	text-align: center;
	background:gray;
	border-radius: 10px;
	cursor: pointer;
}

.search-plugin-item:hover{
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
}

.search-cat-list div .search-cat-item{
	border-top: 1px solid gray;
}

.search-cat-list div .search-cat-item:hover{
	border-top: 1px solid transparent;
}

.search-cat-list div:first-child .search-cat-item{
	border-top: none;
}

.search-cat-item{
	position: relative;
	padding:6px;
	font-size:14px;
}

.search-cat-item:hover{
	border-radius: 6px;
}

.search-cat-item div{
	width:auto;
	max-width:5cm;
	display:inline-block;
}

.search-cat-item span{
	width:auto;
	position:absolute;
	right:5px;
}

#search-popup .search-cat-item.records-visible, #search-popup .search-plugin-item.records-visible {
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	color:white;
	font-weight: bold;
	background-color: #787878;
}

.search-result-list{
	max-height:0;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	color:white;
	font-size:12px;
	font-weight: bold;
	background-color: #787878;
	background-image: -webkit-linear-gradient(top, rgb(120, 120, 120), rgb(45, 45, 45));
	background-image: -moz-linear-gradient(top, rgb(120, 120, 120), rgb(45, 45, 45));
	transition:max-height 1s;
	-webkit-transition: max-height 1s;
	-moz-transition:max-height 1s;
}

.search-result-list.records-visible{
	max-height:1000px;
}

.search-record-item{
	padding:6px;
	position: relative;
}


.search-record-item div:first-child{
	width:auto;
	margin-right:30px;
}

.search-record-item:hover{
	border-radius: 6px;
}

.search-select{
	position:absolute;
	top:-2px;
	right:-1px;
}


.search-create-note{
	position:absolute;
	top:2px;
	right:2px;
}





