<span class="inspector-attr-name">
	{{itemView.content.label}}
</span>	
{{#view KG.SwitchView valueBinding="itemView.content.value" classBinding="on" class="inspector-attr-value"}}
	<span class="thumb"></span>
{{/view}}