<span class="inspector-attr-name">
	{{itemView.content.label}}
</span>	
<div class="inspector-attr-value">
	{{#view KG.SelectInputView contentBinding="itemView.content.enumValuesCustom" valueBinding="itemView.content.value"}}
		{{#view KG.SelectView contentBinding="parentView.content" valueBinding="parentView.valueSelect"}}
			<select>
				{{#each content}}
					<option {{bindAttr value="key"}} >{{label}}</option>
				{{/each}}
			</select>
		{{/view}}
		{{view Ember.TextField valueBinding="parentView.valueInput" classBinding="parentView.inputClass"}}
	{{/view}}
</div>