{{#view KG.SelectView contentBinding="content" valueBinding="value" disabledBinding="disabled"}}
	<select {{bindAttr disabled="disabled"}}>
		{{#each content}}
			<option {{bindAttr value="key"}} >{{label}}</option>
		{{/each}}
	</select>
{{/view}}