body{
	width: 450px;
	margin: 0px auto;
}

#if-spinner{
	position: absolute;	
	width:450px;
	height:60px;
	top:45%;	
}

#kloud-logo{
	display: block;
	height:256px;
	margin:0px auto;
}


#sandboxes-title{
	margin-left: 10px;
	display: block;
	text-align: left;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: #333;
	text-shadow: rgba(255, 255, 255, .9) 0px 1px 0px;
}

.sandbox-list{
	list-style: none;
	margin-left: 0px;
	background-color: #FFFEEB;
}

.sandbox-list-item{
	margin: 10px;
}

.open-sandbox-link {
	display: block;
	width: 100%;
	color: #4183C4;
	font-size: 16px;
	font-weight: bold;
	background: url('../resources/images/arrow-40.png') 97% 50% no-repeat;;
}

.open-sandbox-link:hover {
	background: url('../resources/images/arrow-90.png') 97% 50% no-repeat;;
}



#logout-button{
	float: right;
}

