/*NOTES*/

.popup-note-item{
	font-size:14px;
	padding: 3px 0px;
	margin-top:3px;
	background: none;
	width:100%;
	height:100%;
	text-align: left;
	margin-top:3px;	
	border-radius: 16px;
}

.popup-note-item span{
	margin: 3px 10px;
}

.popup-note-item:hover{
	border-radius: 16px;
	background: rgba(0,0,255,0.5);
	color:white;
}

.popup-note-title{
	text-align: center;
	font-size:14px;
	font-weight: bold;
	white-space: nowrap;
}

.active-note-popup .note-author-label{
	font-size:10px;
	display: block;	
	text-align: right;
}

.active-note-popup .note-date-label{
	font-size:11px;
	font-style: italic;
	float: right;	
}

.active-note-popup > span{
	display: block;
	font-weight: bold;
}

.active-note-popup input{
	width: 100%;
}

.active-note-popup textarea{
	width: 100%;
	height: 60px;
	resize: none;
}

.active-note-popup-bottom{
	width: 220px;
	text-align: center;
	margin-top:10px;
}

.active-note-popup .red-button{
	margin-left:10px;
}

