#map {
	height: 100%;
	border: none;
}

#if-spinner{
	position: absolute;	
	width:100%;
	height:60px;
	top:45%;	
}

#bottom-bar{
	z-index:8;
	position: absolute;
	left:0px;
	right:0px;
	bottom:0px;
	height: 50px;
}

#bottom-bar div{
	display: inline;
}

.kg-controls{
	margin: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: rgba(0,0,0,0.25);
}

.kg-controls a{
	padding: 15px;
	color: black;
	font-weight: 600;
}

.kg-controls a:hover{
	color: white;
	font-weight: 800;
}

.popup-note-list{
	list-style: none;
	margin-left:0px;
}

.note-popup-item{
	font-size:14px;
	padding: 3px;
}

.note-popup-item:hover{
	border-radius: 6px;
	background: rgba(0,0,255,0.5);
	color:white;
}

.popup-note-title{
	text-align: center;
	font-size:14px;
	font-weight: bold;
}

.new-note-popup span{
	display: block;
	font-weight: bold;
}

.new-note-popup input{
	width: 200px;
}

.new-note-popup textarea{
	width: 100%;
	height: 60px;
	resize: none;
}

.new-note-popup button{
	width:100px;
	margin-top:10px;
}

.new-note-popup button span{
	font-weight: normal;
}

.new-note-popup-bottom{
	width: 100%;
	text-align: center;
}

