#map {
	height: 100%;
	border: 1px solid #CCC;
}

#if-spinner{
	position: absolute;	
	width:100%;
	height:60px;
	top:45%;	
}

#back-home{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: rgba(0,0,0,0.25);
	position:absolute;
	left:10px;
	bottom:20px;
	padding: 5px;
}

#back-home a{
	color: black;
	font-weight: 600;
}

#back-home a:hover{
	color: white;
	font-weight: 800;
}

.kg_controls{
	z-index:8;
}