.search-title-area{
	position: absolute;
	left: 50%;
	top:20%;
	width:5cm;
	margin-left:-2.5cm;
	height:0.75cm;
	margin-top:-0.75cm;
	color:white;
	text-align: center;
	background:rgba(0,0,0,0.6);
	border-top-left-radius:12px;
	border-top-right-radius:12px;
}

#title-label{
	margin-top:5px;
	font-size:16px;
}

.search-close-button{
	float: right;
	margin-top: -20px;
	margin-right:-20px;
}

/* 2 fingers scroll on iOS.  iScroll4 can solve it.*/
.search-list-area{
	font-size:14px;
	position:absolute;
	left: 50%;
	top:20%;
	width:5cm;
	margin-left:-2.5cm;
	overflow-x:hidden;
	overflow-y: auto;
	max-height: 0;
	background:rgba(0,0,0,0.6);
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	padding-bottom:10px;
}

.search-list-area.has-results{
	max-height:40%;
}

.search-list-item{
	text-align:right;
}

.search-list-item > span{
	position:relative;
	bottom:5px;
}

.search-result-list{
	margin:10px;
}


.search-result-list li:hover{
	background: rgba(0,0,0,0.5);
	border-radius:1em;
}

.search-result-table{
	color: white;
	border: none;
	border-spacing: 0px;
}

.search-result-table td{
	vertical-align:middle;
}

.search-title-cell{
	width:100%;
}

.search-select-cell{
	width:32px;
	height:32px;
}

.feature-title-label{
	margin-left:5px;
}



