#search-result{
	z-index:10;
	position: absolute;
	width:5cm;
	margin-left:-2.5cm;
	padding:8px;
	top:-100%;
	left:50%;
	transition:top 1s ease-in;
	-webkit-transition:top 1s ease-in;
	-moz-transition:top 1s ease-in;
	background:rgba(0,0,0,0.6);
	border-radius:12px;
}

#search-result.list-visible{
	top:20%;	
}

.search-title-area{
	position: relative;
	width:100%;
	color:white;
	text-align: center;
}

#title-label{
	margin:10px;
	font-size:16px;
}

.search-close-button{
	float: right;
	margin-top: -20px;
	margin-right:-20px;
}

/* 2 fingers scroll on iOS.  iScroll4 can solve it.*/
.search-list-area{
	font-size:14px;
	position:relative;
	width: 100%;
	max-height:6cm;
	overflow-x:hidden;
	overflow-y: auto;
}

.search-list-area.has-results{
}

.search-list-item{
	text-align:right;
}

.search-list-item > span{
	position:relative;
	bottom:5px;
}

.search-result-list{
	margin:10px;
}

.search-result-list li{
	padding:0 0.5em 0 0.5em;
}

.search-result-list li:hover{
	background: rgba(0,0,0,0.5);
	border-radius:1em;
}

.search-result-table{
	color: white;
	border: none;
	border-spacing: 0px;
}

.search-result-table td{
	vertical-align:middle;
}

.search-title-cell{
	width:100%;
}

.search-select-cell{
	width:32px;
	height:32px;
}

.feature-title-label{
	margin-left:1em;
}



